<application>
  <component name="MybatisSettings" InsertGenerator="[&quot;new&quot;,&quot;save&quot;,&quot;insert&quot;]" DeleteGenerator="[&quot;del&quot;,&quot;remove&quot;]" UpdateGenerator="[&quot;modify&quot;,&quot;set&quot;,&quot;update&quot;]" SelectGenerator="[&quot;search&quot;,&quot;select&quot;,&quot;find&quot;,&quot;get&quot;,&quot;query&quot;,&quot;count&quot;,&quot;list&quot;,&quot;look&quot;]" statementGenerateModel="0" />
</application>